<!DOCTYPE html>
<html lang="en"  >
	<head>
	<title> Document  </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 	
	<link rel="stylesheet" href="vendor/bootstrap.css">
	<link rel="stylesheet" href="vendor/angular-material.min.css">
	<link rel="stylesheet" href="vendor/font-awesome.css">
 	<link rel="stylesheet" href="style.css">
</head>
<body ng-app="myApp" ng-controller="MyController">

	<div class="container">
		<input type="text" ng-model="searchText">
		<table class="table table-bordered">
		    <thead>
		      <tr>
		        <th>Name</th>
		        <th>Age</th>
		        <th>Gender</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="human in humans | orderBy:'name':false | filter: searchText">
		        <td>{{human.name}}</td>
		        <td>{{human.age}}</td>
		        <td>{{human.gender}}</td>
		      </tr>
		    </tbody>
		</table>
	</div>
	<script type="text/javascript" src="vendor/bootstrap.js"></script>  
	<script type="text/javascript" src="vendor/angular-1.5.min.js"></script> 
  	<script type="text/javascript" src="vendor/angular-animate.min.js"></script>
  	<script type="text/javascript" src="vendor/angular-aria.min.js"></script>
 	<script type="text/javascript" src="vendor/angular-messages.min.js"></script>
 	<script type="text/javascript" src="vendor/angular-material.min.js"></script>  
  	<script type="text/javascript" src="custom.js"></script>
</body>
</html>